$color1: #fff2f3;

.mobileContainer {
  padding-top: 5%;
  padding-bottom: 25%;
  .workCount {
    color: $color1;
    font-size: 25px;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .pictureContainer {
      background-color: #fff2f3;
      height: 300px;
      width: 300px;
      z-index: 100;
      object-fit: contain;
      overflow: hidden;
      img {
        height: 100%;
      }
      margin-bottom: 5%;
    }
    .middleContainer {
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $color1;
      p {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .textContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .number {
          font-size: 130px;
        }
        .titleDesc {
          padding-left: 0px;
          .title {
            font-size: 50px;
          }
          .subtitle {
            margin-top: -15px;
            font-size: 35px;
          }
          .techStack {
            font-style: italic;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
      a:link {
        text-decoration: none;
      }

      .button {
        margin-top: 15px;
        width: 300px;
        border: 3px solid;
        border-image-slice: 1;
        border-radius: 40px;
        border-radius: 15px;
        background: none;
        border-image-source: linear-gradient(
          to right,
          rgba(255, 193, 127, 1) 0%,
          rgba(240, 101, 105, 1) 100%
        );
        padding: 20px;
        color: $color1;
        text-align: center;
        justify-content: center;
      }
      .button:hover {
        color: #111517 !important;
        background: linear-gradient(
          to right,
          rgba(255, 193, 127, 1) 0%,
          rgba(240, 101, 105, 1) 100%
        );
        border-color: linear-gradient(
          to right,
          rgba(255, 193, 127, 1) 0%,
          rgba(240, 101, 105, 1) 100%
        ) !important;
        text-decoration: none;
        transition: all 0.4s ease 0s;
      }
    }
  }
}
