.project {
  position: relative;
  // padding-top: 4%;
  height: calc(95vh - 100px);
  // padding-top: calc(10% - 35px);
  // height: 95%;
}
.perProject {
  background-color: #111517;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
}
