.project {
  .perProject {
    background-color: #111517;
    // padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    .projectPicsContainer {
      padding-top: 1000px;
      background-color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  }
}
