$color1: #fff2f3;
$color2: #111517;
$color3: #ffc17f;
.navBar {
  position: fixed;
  z-index: 10000;
  right: 0;
  width: 100%;
  min-height: 70px;
  color: $color1;
  display: flex;
  align-items: center;
  .logoContainer {
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    img {
      height: 100px;
    }
  }
  .linkContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    a {
      font-size: 20px;
      margin-left: 30px;
      color: $color1;
    }
    a:link {
      text-decoration: none;
    }
    a:hover {
      color: $color2;
    }
  }
}

.coloredNavBar {
  background-color: $color2;
  display: flex;
  justify-content: flex-end;
  .linkContainer {
    a:hover {
      color: $color3;
    }
  }
}

.hamburger {
  width: 100%;
  position: fixed;
  z-index: 10000;
  right: 0;
  min-height: 70px;
  color: $color1;
  display: flex;
  align-items: center;
  .logoContainer {
    opacity: 0;
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    transition: all 0.2s ease-in-out;

    img {
      height: 100px;
    }
  }

  .linkContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 30px;
  }
  .linkContainer:hover {
    color: $color2;
  }
}
.coloredHamburger {
  display: flex;
  justify-content: flex-end;
  background-color: $color2;
  .logoContainer {
    opacity: 1;
  }

  .linkContainer:hover {
    color: $color3;
  }
}
