$color1: #fff2f3;
$color2: #111517;
$color3: #ffc17f;
.navBar {
  position: fixed;
  z-index: 10000;
  right: 0;
  min-height: 70px;
  color: $color1;
  display: flex;
  align-items: center;
  .linkContainer {
    margin-right: 30px;
    a {
      font-size: 20px;
      margin-left: 30px;
      color: $color1;
    }
    a:link {
      text-decoration: none;
    }
    a:hover {
      color: $color2;
    }
  }
}

.coloredNavBar {
  width: 100%;
  background-color: $color2;
  display: flex;
  justify-content: flex-end;
  .linkContainer {
    a:hover {
      color: $color3;
    }
  }
}

.hamburger {
  position: fixed;
  z-index: 10000;
  right: 0;
  min-height: 70px;
  color: $color1;
  display: flex;
  align-items: center;
  .linkContainer {
    padding-right: 30px;
    font-size: 30px;
  }
  .linkContainer:hover {
    color: $color2;
  }
}
.coloredHamburger {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: $color2;
  .linkContainer:hover {
    color: $color3;
  }
}
