.pictureContainer {
  margin-bottom: 120px;

  .vl {
    position: relative;
    background: linear-gradient(
      to bottom,
      rgb(83, 63, 42) 0%,
      rgba(240, 101, 105, 1) 100%
    );
    height: 85vh;
    width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    .picture {
      position: absolute;
      background-color: #111517;
      display: flex;
      justify-content: center;
      align-content: center;
      z-index: 100;
      object-fit: contain;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
    .bottomShadow {
      background-color: rgba(240, 101, 105, 1);
      opacity: 0.5;
      position: absolute;
      top: 260px;
      right: -230px;
      height: 400px;
      width: 400px;
      // z-index: -1;
    }

    .circleBottom {
      background-color: rgba(240, 101, 105, 1);
      height: 15px;
      width: 15px;
      right: -7px;
      position: absolute;
      bottom: 0;
      border-radius: 50%;
    }
    .circleTop {
      background-color: rgba(255, 193, 127, 1);
      height: 15px;
      width: 15px;
      position: absolute;
      border-radius: 50%;
      top: 0;
      right: -7px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .pictureContainer {
    margin-top: 10%;
    .vl {
      .picture {
        height: 350px;
        width: 350px;
      }
    }
  }
}
