.pictureContainer {
  // margin-top: -5%;
  margin-left: 400px;
  margin-bottom: 70px;
  .vl {
    position: relative;
    background: linear-gradient(
      to bottom,
      rgb(83, 63, 42) 0%,
      rgba(240, 101, 105, 1) 100%
    );
    height: 85vh;
    width: 2px;
    .picture {
      background-color: #fff2f3;
      position: absolute;
      height: 400px;
      width: 400px;
      top: 230px;
      right: -200px;
      z-index: 100;
      object-fit: contain;
      overflow: hidden;
      img {
        // max-height: 100%;
        height: 100%;
      }
    }
    .bottomShadow {
      background-color: rgba(240, 101, 105, 1);
      opacity: 0.5;
      position: absolute;
      top: 260px;
      right: -230px;
      height: 400px;
      width: 400px;
      // z-index: -1;
    }

    .circleBottom {
      background-color: rgba(240, 101, 105, 1);
      height: 15px;
      width: 15px;
      right: -7px;
      position: absolute;
      bottom: 0;
      border-radius: 50%;
    }
    .circleTop {
      background-color: rgba(255, 193, 127, 1);
      height: 15px;
      width: 15px;
      position: absolute;
      border-radius: 50%;
      top: 0;
      right: -7px;
    }
  }
}
