.page {
  .welcome {
    text-align: center;
    // background: linear-gradient(
    //   to bottom,
    //   rgba(255, 193, 127, 1) 0%,
    //   rgba(255, 125, 129, 1) 100%
    // );
    background: linear-gradient(
      to bottom,
      rgba(255, 193, 127, 1) 0%,
      rgba(240, 101, 105, 1) 100%
    );

    min-height: 93vh;
    // min-width: 100vw;
    color: #fff2f3;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 13px 42px 0px rgba(20, 14, 15, 0.35);
    .name {
      color: #fff2f3;
      z-index: 1000;
      .title {
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 20px;
      }
      hr {
        width: 100px;
        background: #fff2f3;
        height: 3px;
        border-radius: 10px;
        border-style: solid;
      }
      p {
        color: #fff2f3;
        font-size: 20px;
      }
    }
  }

  .navBar {
    position: absolute;
    right: 0;
    min-height: 70px;
    color: #fff2f3;
    display: flex;
    align-items: center;
    margin-right: 30px;
    p {
      font-size: 20px;
      margin-left: 30px;
    }
  }
}
