.app {
  background-color: #111517;
  min-height: 100vh;
  // height: 100%;
  // min-width: 100vw;
}

.arrowDown {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  // border-top: 40px solid#ff7d81;

  border-top: 40px solid#f06569;
  left: calc(50vw - 40px);
  // box-shadow: 0px 60px 42px 0px rgba(20, 14, 15, 0.35);
}
